<header>
  <ul>
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/add">Add Item</a>
    </li>
    <li>
      <a routerLink="/list">Item List</a>
    </li>
    <li>
      <a routerLink="/popular-list">Popular Item List</a>
    </li>
    <li>
      <a routerLink="/search">Search</a>
    </li>
    <li>
      <a routerLink="/privacy-security">Privacy&Security</a>
    </li>
    <li>
      <a routerLink="/help">Help</a>
    </li>
  </ul>
</header>
<div class="header-background"></div>

<router-outlet></router-outlet>
